@(title: String)(searchResultsList: List[SearchResults])(content: Html)
@main(title){
    @content
    <div class="search-results">
    @for(search <- searchResultsList) {
        <br><br>
        <div class="search-terms"><span class="search-term-title">Search terms:  @search.getSearchTerms() </span>
            Average Flesch-Kincaid Grade Level: @search.getAverageFleschKincaidGradeLevel(), 
            Average Flesch Reading Ease Score: @search.getAverageFleschReadingEaseScore(). 
            <a href="@routes.SearchController.displayStats(search.getSearchTerms())" class="more-stats-link">More stats</a>
        </div>
        @for((video, index) <- search.getYouTubeVideosList().zipWithIndex){
            <div class="video-item">
                <div class="video-details">
                    @(index+1). <strong>Title: </strong> @video.getHtmlLinkforTitle(),
                    <strong>Channel: </strong> @video.getHtmlLinkforProfile(),
                    <strong>Description: </strong> "@video.getDescription()". 
                    Flesch-Kincaid Grade Level: @video.getFleschKincaidGradeLevel(),
                    Flesch Reading Ease Score: @video.getFleschReadingEaseScore(). 
                    @video.getHtmlLinkforVideoTags<br>
                </div>
                <div class="video-thumbnail">
                    <a href="https://www.youtube.com/watch?v=@video.getVideoId" target="_blank" rel="noopener noreferrer">
                        <img src="@video.getThumbnailUrl()" alt="Thumbnail" />
                    </a>
                </div>
            </div>
        }
    }
</div>
}