@(title: String)(searchResultsList: List[SearchResults])(content: Html)
@main(title){
    @content
    <div class="search-results">
    @for(search <- searchResultsList) {
        <br><br>
        <div class="search-terms"><span class="search-term-title">Search terms:  @search.getSearchTerms() </span>
            Average Flesch-Kincaid Grade Level = @search.getAverageFleschKincaidGradeLevel(),
            Average Flesch Reading Ease Score = @search.getAverageFleschReadingEaseScore().
            <a href="@routes.SearchController.displayStats(search.getSearchTerms())" class="more-stats-link">More stats</a>
        </div>
        @for((video, index) <- search.getYouTubeVideosList().zipWithIndex){
            <div class="video-item">
                <div class="video-details">
                    @(index+1). <strong>Title: </strong>
                        @if(video.getHtmlLinkforTitle().isEmpty) {
                            @video.getTitle(),
                        } else {
                            <a href=@video.getHtmlLinkforTitle() target="_blank">@video.getTitle()</a>,
                        }
                    <strong>Channel: </strong> 
                    @if(video.getHtmlLinkforProfile().isEmpty) {
                        @video.getChannel(),
                    } else {
                    <a href=@video.getHtmlLinkforProfile() >@video.getChannel()</a>,
                    }
                    <strong>Description: </strong>
                    <span class="description" data-full-description='@video.getDescription()'>
                       "@video.getDescription()"
                    </span>
                   
                    Flesch-Kincaid Grade Level = @video.getFleschKincaidGradeLevel(),
                    Flesch Reading Ease Score = @video.getFleschReadingEaseScore().
                    @if(video.getHtmlLinkforVideoTags.isEmpty) {
                        Tags <br>
                    }else{
                        <a href=@video.getHtmlLinkforVideoTags>Tags</a>
                    }

                    <br>
                </div>
                <div class="video-thumbnail">
                    <a href="https://www.youtube.com/watch?v=@video.getVideoId" target="_blank" rel="noopener noreferrer">
                        <img src="@video.getThumbnailUrl()" alt="Thumbnail" />
                    </a>
                </div>
            </div>
        }
    }
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
            var maxLength = 200; 
            var descriptions = document.querySelectorAll('.description');

            descriptions.forEach(function(desc) {
                var fullDescription = desc.getAttribute('data-full-description');
                fullDescription = '"' + fullDescription + '"';

                if (fullDescription.length > maxLength) {
                    var truncatedDescription = fullDescription.substring(0, maxLength) + "... ";
                    desc.innerHTML = truncatedDescription + '"';
                } else {
                    desc.innerHTML = fullDescription;
                }
            });
        });
</script>
}