@(title: String)(searchResultsList: List[SearchResults])(content: Html)
@main(title){
    @content
    <div class="search-results">
    @for(search <- searchResultsList) {
        <br><br>
        <div class="search-terms">Search terms: @search.getSearchTerms()
            <a href="@routes.MoreStatsController.displayStats(search.getSearchTerms())">MoreStats</a>
        </div>
        @for((video, index) <- search.getYouTubeVideosList().zipWithIndex){
            <div class="video-item">
                <div class="video-details">
                    @(index+1). <strong>Title: </strong> @video.getHtmlLinkforTitle(),
                    <strong>Channel: </strong> @video.getHtmlLinkforProfile(),
                    <strong>Description: </strong> @video.getDescription()
                    @video.getHtmlLinkforVideoTags<br>
                </div>
                <div class="video-thumbnail">
                    <a href="https://www.youtube.com/watch?v=@video.getVideoId" target="_blank" rel="noopener noreferrer">
                        <img src="@video.getThumbnailUrl()" alt="Thumbnail" />
                    </a>
                </div>
            </div>
        }
    }
</div>
}