@(searchForm : Form[Search])(searchResultsList: List[SearchResults])(implicit messages: play.i18n.Messages)
@import helper._

@displayResults("YT Lytics")(searchResultsList){
    <h2>Welcome to YT Lytics</h2>
    <div class="search-container">
        
    @helper.form(action = routes.SearchController.search()){
        @helper.inputText(
            searchForm("key"),
            '_label -> "",
            'placeholder -> "Enter search terms",
            'class -> "search-input"
        )
        
        <input type="submit" value="Go!" class="search-button"/>
    }
</div>
}