@(hashTag : String)(searchResultsList: List[YouTubeVideo])

@main("HashTags") {
    <h1> HashTag is @hashTag</h1>
    @for((video,index) <- searchResultsList.zipWithIndex) {
        <div class="video-item">
            <div class="video-details">
                @(index+1). <strong>Title: </strong> @video.getHtmlLinkforTitle(),
                <strong>Channel: </strong> @video.getHtmlLinkforProfile(),
                <strong>Description: </strong> @video.getDescription()
            </div>
            <div class="video-thumbnail">
                <img src="@video.getThumbnailUrl()" alt="Thumbnail" />
            </div>
        </div>
    }
}
