h2 {
    text-align:center;
    margin-top: 100px;
}
h1 {
    text-align:center; 
}
.search-container {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    white-space: nowrap;
    /* gap: 10px; */
}
.search-term-title {
    font-size: 20px; 
}
.more-stats-link {
    font-weight: bold;
    text-decoration: none;
}
.more-stats-link:hover {
    text-decoration: underline;
}

.search-input {
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    margin-right:20px;
    flex:1;
    float:left;
    border: 1px solid #ccc;
    outline: none;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-search" viewBox="0 0 16 16"%3E%3Cpath d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    border-radius: 4px;
    width: 300px;
}

.search-button {
    background-color: #007BFF;
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-results {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    padding: 20px 10px 20px 30px;
}

.search-results .search-terms {
    color: #333;
}

.video-item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s ease;
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-radius:5px;
}

.video-item-tagpage{
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
        transition: box-shadow 0.3s ease;
    align-items: flex-start;
    margin-bottom: 0;
    padding: 50px 50px;
}

.search-results .video-item + .video-item {
    margin-top: 0;
    padding-top: 5px;
}

.video-details {
    flex: 2;
    padding-right: 20px;
}

.video-details-tagpage{
    flex: 2;
    padding: 30px 20px;
}
.tag-list-tagpage{
    margin:5px 50px;
}
.video-details strong {
    color: #333;
}

.video-details a {
    color: #1a0dab;
    text-decoration: none;
}

.video-details a:hover {
    text-decoration: underline;
}

.video-details .title-description {
    font-style: italic;
    color: #555;
}

.video-details .grade-level {
    font-size: 0.9em;
    color: #888;
    margin-top: 5px;
}

.video-thumbnail-tagpage a img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 500px;
    border-radius: 10px;
}
.video-thumbnail {
    flex: 1;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-thumbnail img {
        max-width: 100%;
        height: 100%;
        width: 100%;
        border-radius: 10px;   
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
text-align: left;
padding: 8px;
border: 1px solid black;
}

tr:nth-child(even) {
background-color: #D6EEEE;
}
tr {
border-bottom: 1px solid #ddd;
}

.card {
            width: 300px;              /* Card width */
            padding: 20px;             /* Padding inside the card */
            margin: 20px;              /* Margin around the card */
            background-color: white;  /* Background color of the card */
            border-radius: 10px;      /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
            transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
        }

        /* Hover effect for shadow */
        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
        }
